<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mytask.MyTask">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mytask.Perspective"
            id="MyTask.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="views.Properties"
            id="views.Properties"
            name="Properties"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="views.Search"
            id="views.Search"
            name="Search">
      </view>
      <view
            allowMultiple="false"
            class="views.TextEditor"
            id="views.View"
            name="Text Editor">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="views.View"
               minimized="false"
               moveable="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="views.Search"
               minimized="false"
               moveable="false"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="views.Properties"
               minimized="false"
               moveable="false"
               ratio="1f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="MyTask.createNew"
                  label="Create new"
                  style="push">
            </command>
            <command
                  commandId="MyTask.save"
                  label="Save"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="MyTask.load"
                  label="Load"
                  style="push">
            </command>
            <separator
                  name="MyTask.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <command
               commandId="MyTask.search"
               label="Search/Replace"
               style="push">
         </command>
         <menu
               label="Help">
            <command
                  commandId="MyTask.showAboutDialog"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="handlers.CreateNewHandler"
            id="MyTask.createNew"
            name="createNew">
      </command>
      <command
            defaultHandler="handlers.SearchHandler"
            id="MyTask.search"
            name="search">
      </command>
      <command
            defaultHandler="handlers.LoadHandler"
            id="MyTask.load"
            name="load">
      </command>
      <command
            defaultHandler="handlers.SaveHandler"
            id="MyTask.save"
            name="save">
      </command>
      <command
            defaultHandler="handlers.ShowAboutDialogHandler"
            id="MyTask.showAboutDialog"
            name="showAboutDialog">
      </command>
   </extension>

</plugin>
